@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@300;400;600;700&family=Poppins:wght@300;400;500;600&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

.helpcenter-main-bg {
    background-image: url(/public/bg.png);
    background-size: cover;
    background-position: center;
    height: 110vh;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif; 
  }

.hc-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 18vh;
}

.hc-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
}

.hc-options{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.hc-option img {
    width: 150px;
}

.hc-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
    background-color: #F8F8F8;
    border-radius: 20px;
    padding: 0 10px;
    width: 270px;
    padding: 40px 20px;
    height: 300px;
    cursor: pointer;
}

.hc-option span{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

.hc-option:hover{
    box-shadow: 2px 12px 15px rgba(0, 0, 0, 0.2); /* Adjust the values for the box shadow on hover */
}

.hc-divider{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF3F2;
}

.hc-divider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* FAQS CSS */


body{
    background-color: #F5FFFD;
}

.faq-main-bg {
    background-image: url(/public/codetech-header.png);
    background-size: cover;
    height: 80vh;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif; 
  }

  .faq-content{
    padding: 80vh 150px 100px 150px;
    color: #495453;
    display: flex;
    gap: 10rem;
  }

  .faq-left-content{
    display: flex;
    flex-direction: column;
  }

  .faq-left-content h1{
    font-size: 50px;
    margin: 10vh 0;
  }

  .faq-left-content h3{
    margin-bottom: 20px;
  }

  

  .sections {
    margin-top: 10px;
  }
  
  .sections ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .faq-sidebar {
    margin: 10vh 0;
  }
  
  .faq-sidebar h5,
  .faq-sidebar li {
    color: #777777;
    width: 150px;
  }
  .faq-sidebar-container {
    height: 30vh;
    position: sticky;
    top: 60px; 
    margin-top: 20px;
}
  
  .sections a {
    display: block;
    padding: 5px 20px ;
    color: #777777;
    font-size: 13px;
    text-decoration: none;
  }
  
  .sections .active {
    border-left: 4px solid #458C83; /* Add the vertical line for the active section */
    color: #458C83; /* Change text color for the active section */
    font-weight: bold;
    margin-left: -3px; /* Optionally make the text bold for the active section */
  }

  .rotate-img {
    transition: transform 0.3s ease; /* Optional: Add a smooth transition effect */
  }

  

  .hover:hover{
    opacity: 0.5;
  }

  .faq-accordion-container{
    
    background: var(--color-white);
    border-radius: 10px;
    padding: var(--card-padding);
    margin: 1rem 0;
  }

  .faq-accordion-details{
    padding: 0 30px 20px 42px;
  }

  .faq-question{
    padding-left: 15px;
    font-weight: bold;
    color: #777777;
  }

  

  /* TICKET CSS */

  .ticket-content{
    display: flex;
    flex-direction: column;
    margin: 150px 300px;
    color: #505050;
    font-family: 'Inter', sans-serif;
  }

  .subheader-line {
    border: 1px solid #e2e1e1; 
    margin-top: 5px; 
  }


.ticket-inputs{
    margin: 20px 40px;
}

.ticket-input-div{
    margin: 20px 0;
}

.ticket-inputs form{
    width: auto;
}
.ticket-input-div input{
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin: 5px 0;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 10px;
    border: 2px solid #7c7c7c;
    background: transparent;
    z-index: 1111;
}


.ticket-input-label{
    display: flex;
}

.ticket-input-div input:focus{
    border: 2px solid #458C83;
}

.ticket-input.invalid:focus {
    border: 2px solid rgb(218, 114, 114);
}


.ticket-side-by-side {
    display: flex;
    gap: 10px;
}



.ticket-side-by-side input:focus{
    border: 2px solid #458C83;
}

.ticket-side-by-side .ticket-input-div{
    width: 100%;
    
    margin: 0;
}

.ticket-side-by-side .ticket-input-div input{
    width: 100%;
}

.ticket-input-div select {
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin: 5px 0;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 10px;
    border: 2px solid #7c7c7c;
    background: transparent;
    z-index: 1111;
    appearance: none; /* Removes default dropdown arrow on some browsers */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237C7C7C' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Custom dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

.ticket-input-div select:focus {
    border: 2px solid #458C83;
}
.ticket-checkboxes {
    margin-top: 20px;
}

.ticket-checkbox {
    display: flex;
    align-items: center;
    margin: 10px;
}

.ticket-checkbox input {
    margin-right: 10px;
}

.ticket-checkbox label {
    font-size: 10px;
    color: #505050;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.ticket-modal-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}




/* VIEW TICKET CSS */


.ticket-table-header{
  display: grid;
  grid-template-columns: 45% 20% 20% 15%;
  color: #bbbbbb;
  margin: 0 25px;
}
.ticket-table-header h6:nth-child(2){
  text-align: center;
}


.ticket-table-header h6:nth-child(3){
  text-align: center;
}

.ticket-table-header h6:nth-child(4){
  text-align: center;
}


.ticket-view{
  margin: 20px 0;
}

.ticket-view-box{
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
  padding: 0 25px;
  line-height: 40px;
  border-radius:10px;
  border: 1px solid #7c7c7c;
  display: grid;
  grid-template-columns: 45% 20% 20% 15%;
}


.ticket-view-box span:nth-child(1){
  font-size: 15px;
  font-weight: bold;
}
.ticket-view-box span:nth-child(2){
  text-align: center;
  font-size: 13px;
}

.ticket-view-box span:nth-child(3){
  text-align: center;
  font-size: 13px;
}

.ticket-view-box span:nth-child(4){
  text-align: center;
  font-size: 13px;
  color: #777777;
}



/* .ticket-view-box-right{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  
  border: 1px solid #7c7c7c;
} */




/* GETINTOUCH CSS */

.git-main-bg{
  background-image: url(/public/codetech-header-git.png);
  background-size: cover;
  height: 80vh;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif; 
}

.git-content{
  padding: 80vh 150px 100px 150px;
  color: #495453;
  display: grid;
  grid-template-columns: 90% 10%;
}

.git-sidebar {
  margin: 10vh 0;
}

.git-sidebar h5,
.git-sidebar li {
  color: #777777;
  width: 150px;
}
.git-sidebar-container {
  height: 30vh;
  position: sticky;
  top: 60px; 
}

.git-left-content{
  display: flex;
  flex-direction: column;
  
}

.git-left-content h2{
  margin: 10vh 0 5vh 0 ;
}

.git-email-input{
  border: 2px solid #777777;
  padding: 10px 50px;
  border-radius: 10px;
  width: 80%;
}


.git-input-div{
  margin: 20px 0;
}

.git-email-input form{
  width: auto;
}
.git-input-div input{
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin: 5px 0;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 10px;
  border: 2px solid #7c7c7c;
  background: transparent;
  z-index: 1111;
}


.git-input-label{
  display: flex;
}

.git-input-div input:focus{
  border: 2px solid #458C83;
}

.git-input.invalid:focus {
  border: 2px solid rgb(218, 114, 114);
}

.git-btn{
  background-color: #458C83;
  color: white;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 0 30px 0;
  cursor: pointer;
}

.git-btn:hover {
  background-color: #2c6b5f; /* New background color on hover */
}

.git-contact{
  border: 2px solid #777777;
  padding: 30px 50px;
  border-radius: 10px;
  width: 80%;
}

.git-contact h1{
  margin-bottom: 10px;
}

.git-contact h3{
  margin: 10px 0;
}