
.forgot-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to right, #75afa7,#ACD2CB , #75afa7);
    justify-content: center;
}

.forgot-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.forgot-form {
    background-color: #F5FFFD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    padding: 40px 20px;
    border-radius: 10px; /* Adjust the value to your desired border radius */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values for the box shadow */
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.forgot-form:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Adjust the values for the box shadow on hover */
}

.forgot-form button{
    width: 400px;
    margin: 20px auto;
}

.forgot-form .input-div input {
    width: 100%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    outline: none;

}

.forgot-form .input-div .labelline{
    padding: 0 10px;
    margin: 0 40px;
    background-color: #F5FFFD;
    transition: 0.2s ease;
}
