.a-sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.3s linear;
    background: #458C83;
}

.a-sidebar:hover{
    width: 240px;
    transition: 0.3s;
}

.a-link-text{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.a-logo{
    height: 80px;
    padding: 16px;
}

.a-menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.a-menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.a-menu li:hover, .a-active{
    background: #669b94;
}

.a-menu .a-link-text span{
    overflow: hidden;
}

.a-logout{
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
}


/* main content */

.a-main-content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.a-header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.a-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px 2rem;
    margin-bottom: 1rem;
}

.a-header-title{
    color: #458C83;
}

.a-user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-info-box {
    background: linear-gradient(to bottom, #458C83, #65aaa4, #458C83);
    color: #fff;
    border-radius: 100px; /* Adjust the border-radius as needed */
    padding: 5px 10px; /* Adjust the padding as needed */
    font-weight: bold;
    font-size: 15px;
}


/* card container */

.a-card-container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.a-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.a-main-title{
    color: #458C83;
    padding-bottom: 10px;
    font-size: 15px;
}

.a-payment-card{
    background: #ebe9e9 ;
    border-radius: 10px;
    padding: 2rem;
    width: 290px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.a-payment-card:hover{
    transform: translateY(-5px);
}

.a-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.a-amount{
    display: flex;
    flex-direction: column;
}

.a-title{
    font-size: 15px;
    font-weight: 200;
}
.a-amount-value{
    font-size: 40px;
    font-weight: 600;
}


.a-light-red{
   background: rgb(251, 233, 233); 
}
.a-light-purple{
    background: rgb(254, 226, 254); 
 }
.a-light-green{
    background: rgb(235, 254, 235); 
}

.a-light-blue{
    background: rgb(236, 236, 254); 
 }

 .a-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .a-table th,
  .a-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .a-table th {
    background-color: #458C83;
    color: #fff;
  }
  
  .a-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .a-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .a-table tbody td {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }



  .a-btn-educator {
    width: 50px;
    height: 20px;
    border-radius: 54px;
    border: none;
    background: #458C83;
    font-size: 10px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .a-btn-educator:hover {
    background-color: #35756F; /* Change the background color on hover */
}

  .a-red-bg{
    background: rgb(204, 87, 87);
  }

  .a-row-deleted {
    background-color: #ffcccc; /* You can adjust the color as needed */
}

.a-add-btn-educator {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #458C83;
    font-size: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
  }

  .a-add-btn-educator:hover {
    background-color: #35756F;
    transform: scale(1.05); /* Add a slight scale effect on hover */
}


.a-input{
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #7c7c7c;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.a-input.invalid:focus {
    border: 1px solid red;
}

.a-names-input{
    display: flex;
    gap: 1rem;
}

.a-names-input input{
    width: 320px;

}


/* NOT LOGGED IN */


.a-notadmin-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to right, #75afa7,#ACD2CB , #75afa7);
    justify-content: center;
}

.a-notadmin-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.a-notadmin-form {
    background-color: #F5FFFD;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    padding: 40px 20px;
    border-radius: 10px; /* Adjust the value to your desired border radius */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values for the box shadow */
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.a-notadmin-form:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Adjust the values for the box shadow on hover */
}

.a-notadmin-form button{
    width: 400px;
    margin: 20px auto;
}

.a-notadmin-form .input-div input {
    width: 100%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    outline: none;

}

.a-notadmin-form .input-div .labelline{
    padding: 0 10px;
    margin: 0 40px;
    background-color: #F5FFFD;
    transition: 0.2s ease;
}


.a-modal-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.a-modal-buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
}