.header-container4 {
  background-color: #458C83;
  height: 160px;
}
  
.container3 {
  width: 1266px;
  height: 582px;
  background-color: white;
  margin: auto;
  margin-bottom: 50px;  
}
  
.header-title3 {
  font-weight: 500;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
  
.input-div3 {
  margin-left: 40px;
}

.title3,
.lesson {
  width: 1165px;
  border-radius: 10px;
  border: 1px solid #A9A9A9;
  font-size: 18px;
  padding-left: 10px;
}

.title3 {
  height: 40px;
}

.lesson {
  height: 300px;
  margin-top: 10px;
  justify-content: flex-start;   
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.submitbtn2 {
  width: 150px;
  height: 40px;
  border-radius: 54px;
  border: none;
  background-color: #458C83;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  margin-top: 20px;
}

.submitbtn2:hover {
  background-color: #6FDDCF;
  color: #2C3333;
}
