/* App.css (or create a new CSS file) */

.settings-page {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .sidebar {
    width: 200px;
    height: 175px;
    border-radius: 20px;
    background-color: #000000;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 200px;
    margin-top: 150px;
  }
  
  .sidebar button {
    display: block;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #458C83;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .sidebar button:hover {
    background-color: #53ffe8;
  }
  
  
  .user-settings {
    width: 600px;
    border-radius: 20px;
    margin-top: 150px;
    padding-top: 25px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #000000;
  }
  
  .passField {
    text-align: center;
    background-color: #d7d7d7;
    padding-bottom: 20px;
    padding-top: 1px;
    border-radius: 20px;
    margin-left: 30px;
    padding-left: 20px;
  }

  .passField input{
    background-color: #f1f1f1;
    border-color: #f1f1f1;
  }
  
  .user-settings h2 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .user-settings label {
    display: block;
    margin-bottom: 10px;
  }
  
  .user-settings input {
    width: 400px;
    padding: 8px;
    margin-top: 4px;
    border-radius: 10px;
  }
  
  .user-settings button {
    background-color: #458C83;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .userButtons button:hover {
    background-color: #53ffe8;
  }
  
  .user-settings button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .userButtons {
    text-align: center;
  }